button {
    background-color: unset;
    outline: none;
    border: none;
    font-size: unset;
    color: unset;
    font-family: unset;
}

.contact-btn {
    border: 2px solid;
    border-radius: 24px;
    height: 48px;
    width: 153px;
    font-size: 18px;
    font-weight: 600;
    font-family: Livvic semi-bold, sans-serif;
}