@font-face {
    font-family: Livvicbold;
    src: url(../../assets/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: Livvic semi-bold;
    src: url(../../assets/fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: Livvic medium-italic;
    src: url(../../assets/fonts/Livvic-MediumItalic.ttf);
}